* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    --primary-color: #26c0ab;
    --secondary-color: #00494d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c5e4e7;
    font-size: 24px;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #5e7a7d;
    font-size: 1rem;
    letter-spacing: 0.5rem;
}

main {
    display: grid;
    grid-template-areas: "calculator sum";
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    border: 0 solid white;
    border-radius: 1rem;
    box-shadow: 0 0 10px #7f9c9f;
    margin: 0 23vw 0 23vw;
}

p {
    font-size: 0.8rem;
    margin: 0.5rem 0 0.5rem 0;
}

.bill-container span {
    color: #7f9c9f;
}

div {
    margin: 1rem 0 1rem 0;
}

.calculator-sect {
    color: var(--secondary-color);
}

#bill,
#custom-tip,
#paxnum {
    border: 0 solid white;
    border-radius: 5px;
    background-color: #f4fafa;
    width: 100%;
    padding: 0.5rem;
}

#bill:hover,
#custom-tip:hover,
#paxnum:hover {
    cursor: pointer;
    outline: 2px solid var(--primary-color);
}

#bill:focus,
#custom-tip:focus,
#paxnum:focus {
    outline: 2px solid var(--primary-color);
}

#bill::-webkit-inner-spin-button,
#custom-tip::-webkit-inner-spin-button,
#paxnum::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#bill::-webkit-input-placeholder,
#paxnum::-webkit-input-placeholder {
    text-align: right;
    color: #7f9c9f;
}

.bill-container,
.pax-container {
    position: relative;
}

#bill,
#paxnum {
    position: absolute;
    text-align: right;
}

.dollarsign {
    position: absolute;
    margin-left: 0.5rem;
    color: #7f9c9f;
}

.bill-sub-error,
.pax-sub-error {
    display: grid;
    grid-template-areas: "subtitle error";
    grid-template-columns: 1.2fr 0.8fr;
    margin: 0;
}

.bill-error,
.pax-error {
    display: none;
    text-align: right;
    font-size: 0.7rem;
    color: red;
}

.tip {
    display: grid;
    grid-template-areas:
        "5 10 15"
        "25 50 custom";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    margin: 0;
}

.tip>label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: 0 solid white;
    border-radius: 5px;
    color: #c5e4e7;
    font-size: 1rem;
}

.tip input[type="radio"] {
    -webkit-appearance: none;
}

.tip>label:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

#custom-tip {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

#custom-tip::placeholder {
    color: var(--secondary-color);
    text-align: center;
}

.person-icon {
    position: absolute;
    margin: 0.85rem 0.5rem 0 0.5rem;
    width: 8px;
}

.sum-sect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--secondary-color);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border: 0 solid white;
    border-radius: 1rem;
    color: #c5e4e7;
}

.sum {
    width: 100%;
}

.tip-amount,
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tipperpax,
.totalsum {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.reset {
    background-color: #26c0ab;
    color: var(--secondary-color);
    border: 0 solid white;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
}

.reset:hover {
    cursor: pointer;
}

.reset:disabled {
    background-color: #005f64;
    color: #004e53;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}