@media (max-width: 1200px) {
    body {
        height: auto;
    }

    main {
        grid-template-areas:
            "calculator"
            "sum";
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    h1 {
        margin: 2rem 0 2rem 0;
    }
}

@media (max-width: 900px) {
    main {
        margin: 0 13vw 0 13vw;
    }
}

@media (max-width: 550px) {
    main {
        margin: 0 8vw 0 8vw;
        grid-template-rows: 1.5fr 0.5fr;
    }

    .tip {
        grid-template-areas:
            "5 10"
            "15 25"
            "50 custom";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }
}